In [1]:
import pandas as pd

In [3]:
test_data = pd.read_csv('../sample_datasets/x_test.csv')
actual_target = pd.read_csv('../sample_datasets/y_test.csv')

In [5]:
from XGBoost_Classifier import XGBoost_Classifier

In [6]:
a = XGBoost_Classifier()

In [7]:
X = test_data[:20]

In [8]:
result = a.predict(X)

In [9]:
result

    0
0   1
1   0
2   0
3   0
4   1
5   1
6   0
7   0
8   0
9   1
10  0
11  1
12  0
13  1
14  1
15  0
16  0
17  1
18  1
19  1